@import 'libs/bootstrap-reboot';
@import 'libs/slick';
@import 'libs/fonts';
@import 'libs/icons';
@import 'libs/animations';


@import 'base/variables';
@import 'base/pageUp';

* {
    font-family: 'MuseoModerno', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/forms';
@import 'blocks/title';
@import 'blocks/modal';

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';


